/* Custom stuff I added */

.image-container {
    display: flex;
    justify-content: center;
  }

  .image-container img {
    max-width: 500px;
    width: 100%;
    border: none;
  }

:root {
    --md-primary-fg-color:        #9e2132;
    --md-primary-fg-color--light: #ca07b7;
    --md-primary-fg-color--dark:  #a71b0c;
}

.md-content {
    --md-typeset-a-color: #5575f5;
}